body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.registration {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#referencerPopup {
	opacity: 1;
	height: 94%;
	width: 100%;
	left: 0;
	top: 40px;
	z-index: 2;
	overflow-y:scroll;
}
.referencedetails {
	font-size: 12px;
	color: #666;
	padding: 10px;
}

.referencedetails a {
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
	display: block;
}

.referencedetails a span {
	color: #0000ff;
}

.referencedetails .refhead {
	font-weight: bold;
	margin-bottom: 10px;
}

.referencedetails .headblocks {
	margin: 10px 0 15px;
}

.referencedetails p {
	margin-bottom: 5px;
}
.selected {
	background: rgba(255, 255, 255, .5);
	border-radius: 2px;
	color: #666;
	text-shadow: none;
}

